.pics{
width: 700px;

}
.carousel-inner{
    position: relative;
    left: 30vw;
    top: 10vh;
}
body{
    overflow-x:hidden;
}
.carousel-control-next-icon{
    position: relative;
    right: 21vw;
    top: 7vh;
}
.carousel-control-n-icon